/*La propiedad font-weight en CSS se utiliza para especificar el grosor o la "pesadez" de la fuente de texto. Controla la negrita o la delgadez del texto. Esta propiedad acepta varios valores, desde números numéricos, palabras clave predefinidas hasta palabras clave relativas.  */


body {
    background-color: rgb(247, 240, 240);
}

td {
    vertical-align: middle;
}

.logo_alura {
    width: 60px;
    margin: 20px 50px;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.principal {
    width: 940px;
}


.input_texto {
    width: 648px;
    height: 500px;
    position: absolute;
    top: 94px;
    left: 265.008px;
    background-color: rgb(247, 240, 240);
    border: none;
    text-align:center;   
    font-family: sans-serif; 
    font-size: 1.25rem;    
    font-weight: 500;
}

.input_texto:focus { /*Para que no se marque el margen negro de la caja de texto al darle click */
    outline: none;
}

.texto_alerta {
    position: absolute;
    top: 622px;
    left: 444px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(146, 145, 145);
    font-family: sans-serif;
}


.botones_encr_descrip {
    width: 940px;
    position: absolute;
    top: 654px;
    left: 232px;
    display:flex
}


.btn_encriptar {
    background-color:  #0A3871;
    border: 1px solid #0A3871;
    border-radius: 18px;
    min-width: 	296.8px;
    min-height: 56px;
    color: white;
    font-size: 22px;
    margin: 0 40px;
    top: 654px;
    left: 232px;
    cursor:pointer;
}

.btn_desencriptar {
    background-color:  #e4e4e4;
    border: 1px solid #c0c0c000;
    border-radius: 18px;
    min-width: 	296.8px;
    min-height: 56px;
    color: rgb(107, 105, 105);
    font-size: 22px;
    top: 654px;
    left: 232px;
    cursor:pointer;
}


.contenedor_salida_datos {
    display: grid;
    background-color: white;
    width: 504px;
    height: 640px;
    border-radius: 32px;
    margin-left: 1180px;
    position: absolute;
    margin-top: -72px;

}


.text_output:focus { /*Para que no se marque el margen negro de la caja de texto al darle click */
    outline: none;
}


.imagen_fondo {
    margin-top: 95.008px;
    margin-left: 80px;
}


.titulo3 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
    padding: 0 9px;
    margin-top: 22px;
    margin-bottom: 16px;
}


.solicitud_texto {
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    padding: 0 11px;

}

.text_output {
    width: 460px;
    height: 531.008px;
    position: absolute;
    text-align:center;   
    font-family: sans-serif; 
    font-size: 20px;    
    font-weight: 500; 
    border: 1px solid #e4e4e400;
    margin: 26px;
}

.btn_copiar {
    background-color: #e4e4e4;
    border: 1px solid #c0c0c0;
    border-radius: 18px;
    min-width: 296.8px;
    min-height: 56px;
    color: rgb(107, 105, 105);
    font-size: 22px;
    margin: 0 109.008px;
    top: 563px;
    position: absolute;
    cursor: pointer;
}

footer {
    width: 99%;
}


.imagenes-social {
    padding: 17.008px 224px;
}


.imagen_linkedln {
    width: 67.008px;
    position: absolute; 
    margin: 0 0;
    top: 764px;
    left: 855.008px;
}

.imagen_github {
    width: 113px;
    position: absolute;
    margin: 0 0;
    top: 764px;
    left: 961.008px;
}

.titulo-final {
    text-align: center;
    padding-top: 695.008px;
    padding-left: 10px;
}

/**************************************************/
/**Movil**/

@media screen and (max-width: 767px) {

   .logo_alura {
        width: 85px;
        margin: 20px 16px;
    }


    h1 {
        text-align: center;
        font-size: 52px;
        margin-top: 40px;
        margin-left: -500px;
        left: 460px;
        margin-bottom: 35px;
        position: relative;
    }


    .input_texto {
        font-family: sans-serif;
        font-size: 50px;
        width: 103%;
        height: 931px;
        margin-top: -98px;
        margin-left: -272px;
        position: relative;
        
    }

    .texto_alerta {
        position: relative;
        top: 94px;
        left: 12px;
        font-size: 35px;
    }

    .botones_encr_descrip {
        width: 432px;
        display: flex; /* Establece el contenedor como un contenedor flex */
        flex-direction: column; /* Apila los elementos secundarios verticalmente */
        top: 1170px;
        left: -8px;
    }

    .btn_encriptar, .btn_desencriptar {
        margin-bottom: 64px; /* Agrega un margen inferior entre los botones */
    }

    .btn_encriptar {
        min-width: 860.8px;
        min-height: 135px;
        border-radius: 58px;
        font-size: 45px;
    }

    .btn_desencriptar {
        margin: 0 40px;
        min-width: 860.8px;
        min-height: 135px;
        border-radius: 58px;
        font-size: 45px;
   
    }

    .contenedor_salida_datos {
        top: 634px;
        left: -1184px;
        position: relative;
        width: 100%;
        height: 348px;
        position: relative;
        
    }
    

    .text_output     {
        width: 100%;
        height: 900px;
        position: relative;
        top: 3px;
        border-radius: 43px;
        text-align:center;   
        font-family: sans-serif; 
        font-size: 50px;
        margin: -6px;
    }


    .titulo3 {
        font-size: 50px;
        margin-top: 70px;
     }


     .solicitud_texto {
        font-size: 40px;
        margin-top: 48px;   
     }



    .imagen_fondo {
            display: none; /*al establecer display: none;, la imagen desaparecerá 
                              completamente y no ocupará espacio en el diseño, por 
                              lo que los elementos a su alrededor se reorganizarán 
                              como si la imagen no estuviera presente en la página. */
    }


    .boton_copiar {
        background-color: white;
        margin-top: -37px;
        width: 100%;
        height: 226px;
        border-radius: 10%;
    }


    .btn_copiar {
        margin: -22px 61.008px;
        position: relative;
        top: 61px;
        min-width: 860.8px;
        min-height: 135px;
        border-radius: 58px;
        font-size: 45px;
        left: -1px;
    }


    .imagenes-social {
        padding: 17.008px 192px;
    }


    .imagen_linkedln {
        width: 125.008px;
        position: relative;
        top: 88.75rem;
        left: 8.438rem
    }

    
    .imagen_github {
        width: 205.008px;
        position: relative;
        top: 80.75rem;
        left: 20.438rem;
    }


    .titulo-final {
        white-space: nowrap; /* Evita que el texto se envuelva automáticamente */
        font-size: 32px;
        width: 100px;
        position: relative;
        top: 638px;
        left: -139px;
        font-family: sans-serif;
        margin-bottom: 5px;
    }
}

/**************************************************/
/**Tablet**/

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .logo_alura {
         width: 71px;
         margin: 15px 16px;
     }


     .principal {
        width: auto;
     }
 
 
     h1 {
        text-align: center;
        font-size: 46px;
        margin-top: 40px;
        margin-left: -525px;
        left: 460px;
        margin-bottom: 35px;
        position: relative;
    }
 
 
     .input_texto {
         font-family: sans-serif;
         font-size: 30px;
         text-align: left;
         width: 99%;
         height: 510px;
         margin-top: -98px;
         margin-left: -264px;
         position: relative;
         
     }


     ::placeholder { /*en este caso el texto del placeholder del textarea de entrada se muevo un poco a la derecha */
        padding-left: 20px; /*La pseudo-clase ::placeholder en CSS se utiliza para aplicar 
                            estilos al texto del marcador de posición (placeholder) en un elemento 
                            de formulario, como un <input> o <textarea>. Puedes usar esta pseudo-clase 
                            para cambiar el color, la fuente, el tamaño y otros estilos del texto del 
                            marcador de posición. */
     }

 
     .texto_alerta {
         position: relative;
         top: 94px;
         left: 12px;
         font-size: 18px;
     }
 
     .botones_encr_descrip {
         width: 99%;
         top: 121px;
         left: -8px;
         position: relative;
         display: flex;
     }

  
     .btn_encriptar {
        min-width: 334.8px;
        min-height: 66px;
        border-radius: 58px;
        font-size: 21px;        
     }

 
     .btn_desencriptar {
        min-width: 334.8px;
        min-height: 66px;
        border-radius: 58px;
        font-size: 21px;   
    
     }
 
     .contenedor_salida_datos {
         top: 290px;
         left: -1184px;
         position: relative;
         width: 99%;
         height: 263px;
         position: relative;
         
     }
     
 
     .text_output     {
         width: 94%;
         height: 900px;
         position: relative;
         top: 3px;
         border-radius: 43px;
         text-align:center;   
         font-family: sans-serif; 
         font-size: 50px;
         margin: -6px;
     }
 
 
     .titulo3 {
         font-size: 40px;
         margin-top: 70px;
      }
 
 
      .solicitud_texto {
         font-size: 30px;
         margin-top: 16px;   
      }
 
 
 
     .imagen_fondo {
             display: none; /*al establecer display: none;, la imagen desaparecerá 
                               completamente y no ocupará espacio en el diseño, por 
                               lo que los elementos a su alrededor se reorganizarán 
                               como si la imagen no estuviera presente en la página. */
     }
 
 
     .boton_copiar {
         background-color: white;
         margin-top: -37px;
         width: 94%;
         height: 129px;
         border-radius: 10%;
     }
 
 
     .btn_copiar {
         margin: -22px 61.008px;
         position: relative;
         top: 61px;
         min-width: 728.8px;
         min-height: 66px;
         border-radius: 58px;
         font-size: 21px;
         left: -43px;
     }
 
 
     .imagenes-social {
         padding: 17.008px 192px;
     }
 
 
     .imagen_linkedln {
         width: 85.008px;
         position: relative;
         top: 64.75rem;
         left: 5.438rem;
     }
 
     
     .imagen_github {
         width: 142.008px;
         position: relative;
         top: 64.75rem;
         left: 9.438rem;
     }
 
 
     .titulo-final {
         white-space: nowrap; /* Evita que el texto se envuelva automáticamente */
         font-size: 24px;
         width: 100px;
         position: relative;
         top: 360px;
         left: -113px;
         font-family: sans-serif;
         padding-bottom: 10%;
     }
 }

